<footer class="row">
  <div class="large-12 columns"><hr>
      <div class="row">

        <div class="large-6 columns">
            <p>© Malaysian Touhou Brigade <%= Date.today.year%></p>
        </div>

        <div class="large-6 small-12 columns">
            <ul class="inline-list right">
              <li><a href="#">Link 3</a></li>
              <li><%= link_to  "Contact us",contact_path %></li>
            </ul>
        </div>

      </div>
  </div>
</footer>
    